# Postgres container credentials
POSTGRES_USER=Postgres_user_Connection
POSTGRES_PASSWORD=postgres_password

# Connection URLs used by your services in Docker
GAME_DATABASE_URL=gamedb_url
DATABASE_URL=Database_url