# Postgres container credentials
POSTGRES_USER=ranger
POSTGRES_PASSWORD=rangerpass

# Connection URLs used by your services in Docker
GAME_DATABASE_URL=postgresql+psycopg2://ranger:rangerpass@db:5432/game_db
DATABASE_URL=postgresql+psycopg2://ranger:rangerpass@db:5432/user_db