div{
  text-align: center;
  color: #000000;
}

.qp-card {
  background: #b9c9c3;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
  opacity: 75%;
}

.page-center {
  display: flex;          
  justify-content: center;   /* center left/right */
  align-items: auto;       /* center up/down */
}

.qp-button {
  padding: 0.65rem 1.25rem;
  border-radius: 999px; /*makes button rounded*/
  border-color: #ffffff;
  background: #258beb;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
}

.draggable{
    cursor: grab;
}